.bpp-team-grid {
    &__container {
        display: block;
        font-size: 0;
        margin: 0 auto;
        padding-bottom: 60px;
        width: 100%;

        @media (min-width: 720px) {
            margin-left: 120px;
            overflow: inherit;
        }
    }

    &__item {
        display: block;
        height: 164px;
        margin-left: calc(50% - (164px * 0.3353));
        overflow: hidden;
        position: relative;
        transform: translateX(-50%) rotate(45deg);
        width: 164px;

        @media (min-width: 720px) {
            display: inline-block;
            margin: 0;
            margin-left: 70px;
            transform: rotate(45deg);
            transform-origin: top left;

            &:first-of-type {
                margin-left: 0 !important;
            }

            &:nth-child(1n + 3) {
                margin-top: -46px !important; /* Was -62px */
            }

            &:nth-child(4n + 3) {
                margin-left: 117px !important;
            }

            &:nth-child(4n + 5) {
                margin-left: 0 !important;
            }
        }

        &:nth-of-type(even) {
            margin: -48px 0 -48px calc(50% - (164px * 0.128));
            transform: rotate(45deg);

            @media (min-width: 720px) {
                margin: 0;
                margin-left: 70px;
            }
        }

        &.hidden {
            display: none;
        }

        &:is(:hover, :focus) {
            .bpp-team-grid__picture::after {
                opacity: 1;
            }

            .bpp-team-grid__content {
                transform: translateY(0);
                transition: transform 0.3s 0.2s ease-out;
            }
        }
    }

    &__picture {
        height: 239px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        width: 239px;

        img {
            height: 100%;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            width: 100%;
        }

        &::after {
            background-color: rgba(51, 51, 51, 0.6);
            content: "";
            display: block;
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            transition: opacity 0.3s;
            width: 100%;
            z-index: 1;
        }
    }

    &__content {
        align-items: center;
        color: var(--global-palette9);
        display: flex;
        font-size: 1.125rem;
        font-weight: 400;
        height: 100%;
        justify-content: center;
        left: 0;
        line-height: 1.6;
        position: absolute;
        top: 0;
        transform: translateY(100%);
        transition: transform 0.3s;
        width: 100%;
        z-index: 2;

        @media (min-width: 1200px) {
            font-size: 1.25rem;
            line-height: 1.5;
        }
    }

    &__search {
        display: block;
        margin: 0 auto 60px;
        max-width: 580px;
        width: 100%;
    }

    &__search-field-wrapper {
        margin-top: 13px !important;
    }

    &__search-field {
        background-color: var(--global-palette4) !important;
        background-image: url(../../../assets/images/search.svg) !important;
        background-position: calc(100% - 16px) center !important;
        background-repeat: no-repeat !important;
        background-size: 24px 24px !important;
        border: 0 !important;
        box-sizing: border-box;
        color: var(--global-palette6) !important;
        display: block;
        padding: 12px 50px 12px 24px !important;
        text-transform: uppercase;
        width: 100%;

        &::placeholder {
            color: var(--global-palette6) !important;
        }

        &:focus {
            border: 0 !important;
            outline: 0 !important;
        }
    }

    &__staging {
        display: none;
    }
}
